################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlogPost.LibraryApp/.vs/BlogPost.LibraryApp
